
<div class="information col-lg-8 eql-height col-md-10 col-sm-10 padding-blocks">
  <div class="dimension-onglet">
    <h3 class="title-onglet" >Informations</h3>
  </div>

  <div class="background-white">
    <div class="row top-bottom-margin center-items">
      <div class="col-lg-1 col-xs-6">
        <p>Activitée:</p>
      </div>
      <div class="col-lg-4 col-xs-6">
        <%= f.object.user_activity.activity.title  %>
      </div>
      <div class="col-lg-2 col-xs-6">
        <p>Type de point:</p>
      </div>
      <div class="col-lg-4 col-xs-5">
        <%= f.object.type_of_point  %>
      </div>
      <div class="col-lg-1 col-xs-1">
        <button type="button" data-toggle="modal" style="border: 0;" data-target="#newPointModal">
          <i class="far fa-edit"></i>
        </button>
      </div>
    </div>





    <div class="row top-bottom-margin">
      <div class="col-lg-3 col-xs-12">
        <p>Nombre de participants:</p>
      </div>
      <div class="steppers col-lg-9 col-xs-12">
        <div class="display-inline">
          <div class="stepper-min five-margin display-inline">
            <p class="five-margin">Min</p>
            <div class="input-stepper">
              <p class="minus"><i class="fa fa-minus"></i></p>
              <%= f.input :number_min, input_html: {type: :text} , label: false, wrapper: false %>
              <p class="plus"><i class="fa fa-plus"></i></p>
            </div>
          </div>
          <div class="stepper-max five-margin display-inline">
            <p class="five-margin">Max</p>
            <div class="input-stepper" id="number_max">
              <p class="minus"><i class="fa fa-minus"></i></p>
              <%= f.input :number_max, input_html: {type: :text} , label: false, wrapper: false %>
              <p class="plus"><i class="fa fa-plus"></i></p>
            </div>
          </div>
          <input type="checkbox" class="form-control-range" id="currently_checked">
          <p style="margin-left: 10px">no limit</p>
        </div>
      </div>
    </div>


    <div class="row top-bottom-margin">
      <div class="col-lg-3 col-xs-12">
        <p>Niveau des participants:</p>
      </div>
      <div class="col-lg-9 col-xs-12">
        <div class="slidecontainer row">
          <div class="col-lg-5 col-xs-6">
            <div class="display-inline">
              <p class="five-margin">Min (<span id="levelMin"></span>) </p>
              <%= f.input :level_min, as: :range, input_html: { min: 0, max: 5, class:"slider", style:"width:100%", id:"myRangeMin" }, id:"myRangeMin2", label: false %>
            </div>
          </div>
          <div class="col-lg-2"></div>
          <div class="col-lg-5 col-xs-6">
            <div class="display-inline">
              <p class="five-margin">Max (<span id="levelMax"></span>) </p>
              <%= f.input :level_max, as: :range, input_html: { min: 0, max: 5, class:"slider", style:"width:100%", id:"myRangeMax"  }, label: false %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-xs-12">
        <div class="display-inline">
          <p class="five-margin">Prix (€):</p>
          <%= f.input :price, as: :integer, label: false, input_html: { style:"width:65px", step: 0.1 } %>
        </div>
      </div>
      <div class="col-lg-5 col-xs-12">
        <div class="display-inline">
          <p class="five-margin">Proposition Date 1:</p>
          <%= f.input :date, as: :string, required: true, input_html: {class: "datepicker"}, label: false %>
        </div>
      </div>
      <div class="col-lg-5 col-xs-12">
        <div class="display-inline">
          <p class="five-margin">Proposition Date 2:</p>
          <%= text_field_tag :second_date, nil, class:'datepicker'  %>
        </div>
      </div>
    </div>

  </div>
</div>





















