
  <div class="row" style="width:96%;padding: 15px 10px 15px 0px;">
    <div class="activity-width form-flex-column col-lg-2 col-sm-2 eql-height display-flex-center" style="">
      <%= link_to point_path(point) do %>
      <%= image_tag point.user_activity.activity.icon2 %>
      <p><%= truncate(point.user_activity.activity.title, length: 20, :separator => /\s/ )%></p>
      <% end %>
    </div>
    <div class="point-information-general col-lg-3 col-sm-3 eql-height display-flex-center" style="">
      <p> Organisé par <%= point.user.first_name %></p>
      <p>Lieu: <%= point.address.present? ? "#{point.address}" : "Pas renseigné" %></p>
      <p> <%= point.price.nil? ? "" : "Prix par personne #{point.price}€" %></p>
    </div>
    <div class="current-participants col-lg-4 col-sm-4 eql-height relative-position" style=" height: 108px;">
      <p><%= point.participants.where(status: "I'm in").count %> participants sur <%= point.number_min %> de places dispos</p>
      <div class="flex-evenly hidden-sm">
        <div class="flex-evenly" style="width: 30%;">
          <% point.participants.first(3).each do |participant| %>
            <div class="point-calendar">
              <%= render 'shared/avatar', user: participant.user %>
            </div>
          <% end %>
        </div>
        <p class="light-p"><%= point.participants.first.user.first_name %> et <%= point.participants.where(status: "I'm in").count - 1 %> amis participent</p>
      </div>
      <div class="absolute-full">
        <% if point.is_full? %>
          <p class="red-background ">Complet</p>
        <% elsif point.number_min < point.participants.where(status: "I'm in").count && point.number_max.nil? %>
          <p class="blue-background ">Le nombre minimum est atteint </p>
        <% elsif point.number_min < point.participants.where(status: "I'm in").count && !point.number_max.nil? %>
          <p class="blue-background ">Plus que <%= pluralize point.number_max - point.participants.where(status: "I'm in").count, "place"  %></p>
        <% else %>
          <p class="red-background"><%= point.number_min - point.participants.where(status: "I'm in").count %> joueurs manquants</p>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 eql-height display-flex-center" style="">
      <% if point.is_full? && @user.is_participant?(point).status.nil? %>
        <p class="red-background " style="font-size: 25px">Complet</p>
      <% elsif point.is_full? && @user.is_participant?(point).status == "I can't"  %>
        <p class="red-background " style="font-size: 25px">Complet</p>
      <% else %>
        <%= simple_form_for @user.is_participant?(point), html: { class: "form-flex-column" } do |f| %>
            <%= f.input :status, collection: [ "I'm in", "I can't"], :input_html => { value: :status}, label: false  %>
            <%= f.button :button do %>
              <i class="fas fa-check"></i>
              Confirmer
            <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

