
    <div class="col-lg-4 nav form-flex-column nav-pills" style="padding-right:10px;" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <%= link_to  '#v-pills-tous', class:'active nav-link onglet-participants', id:'v-pills-tous-tab', data: { toggle: 'pill'}, role: 'tab', aria: { controls: "v-pills-tous", selected: 'true'} do %>
        <p>Tout les participants (<%= @participants.count %>)</p>
      <% end %>
      <% @stars.each do |star| %>
        <%= link_to "#v-pills-level-#{star}", class:'nav-link onglet-participants', id:"v-pills-level-#{star}-tab", data: { toggle: 'pill'}, role: 'tab', aria: { controls: "v-pills-level-#{star}", selected: 'false'} do  %>
         <p><%= star %> étoiles (<%= @participants.find_by_level(star).count %>)</p>
        <% end %>
      <% end %>
    </div>

    <div class="col-lg-4 scroll-div relative-btn max-height tab-content" id="v-pills-tabContent">
        <div class="tab-pane active" style="height: 100%" id="v-pills-tous" role="tabpanel" aria-labelledby="v-pills-tous-tab">
          <%= f.simple_fields_for :participants, @participants do |e| %>
            <div class="row" style="cursor: pointer;">
              <%= render 'participant_fields', f: e %>
            </div>
          <% end %>
        </div>
        <% @stars.each do |star| %>
          <div class="tab-pane fade" style="height: 100%" id="v-pills-level-<%=star%>" role="tabpanel" aria-labelledby="v-pills-level-<%=star%>-tab">
            <%= f.simple_fields_for :participants, @participants.find_by_level(star) do |e| %>
              <div class="row">
                <%= render 'participant_fields', f: e %>
              </div>
            <% end %>
          </div>
        <% end %>
        <!-- <div class="links form-button form-button-xs circle-btn greend-color bottom-right-btn">
          <#%=  link_to_add_association f, :participants  do %>
            <i class="fas fa-plus"></i>
          <#% end %>
        </div> -->
    </div>

    <div class="col-lg-4 scroll-div relative-btn max-height tab-content hidden">
      <% @participants.each do | participant| %>
        <div class="row">
          <div class="col-xs-11 col-lg-11 col-sm-11 on-participant" style="display: flex;">
            <div style="margin-right: 10px;">
            <%= render 'shared/avatar', user: participant.user %>
            </div>
            <p><%= participant.user.first_name%></p>
          </div>
        </div>
      <% end %>
    </div>
