<div class='nested-fields participants-fields scroll-div'>
    <% if f.object.user != nil %>
      <div class="col-xs-11 col-lg-11 col-sm-11 on-participant" style="display: flex;">
        <div style="margin-right: 10px;">
        <%= render 'shared/avatar', user: f.object.user %>
        </div>
        <p><%= f.object.user.first_name%></p>
      </div>
      <div class="col-xs-1 col-lg-1 col-sm-1 input-checked">
        <%= f.input :invited, as: :boolean, label: false, class:"check-participant" %>
      </div>
    <% else %>
      <div class="equipments-fields col-xs-11 col-lg-11 col-sm-11">
        <%= f.input :user_id, collection: User.all, label: false %>
        <div class="form-button form-button-xs circle-btn red-color">
          <%= link_to_remove_association f  do %>
            <i class="fas fa-minus"></i>
          <% end %>
        </div>
      </div>
      <div class="col-xs-1 col-lg-1 col-sm-1 input-height display-new-participant ">
        <%= f.input :invited, as: :boolean, label: false, wrapper: false %>
      </div>
    <% end %>
</div>

