
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPointModal">
  Créer un match
</button>

<% @points.each do |point| %>
  <%= link_to point.user_activity.activity.title, edit_point_path(point) %>
<% end %>

<!-- modal -->
  <div class="modal fade" id="newPointModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-content">
      <a class="close cross abs-right-top" data-dismiss="modal" id="close" aria-label="Close">+</a>
      <h4>C'est parti ...</h4>
      <%= simple_form_for([@user, @point]) do |f| %>

          <%= f.input :user_activity, collection: Activity.where(user_activity: @user.user_activities), label: false, input_html: { class:'select2'} %>

        <%= f.input :type_of_point, label: "Quel est le type de point?", collection: [ "Publique", "Privé"] %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
