
<div id="edit-point">
  <div style="text-align: center; padding-bottom: 10px;">
    <%= @point.day_month %>
          <!-- <h1><%= @session.inspect %></h1> -->
  </div>
  <div class="row">
    <div class="col-lg-9 big-height">
      <div class="row">
        <%= render 'information-point' %>
        <div class="col-lg-7 col-sm-12 col-xs-12 padding-blocks">
          <div class="dimension-onglet">
            <h3 class="title-onglet">Lieu</h3>
          </div>
          <div class="background-white eql-height">

          <div id=" <%= @markers[:lat].nil? ? "" : "map" %>" style="min-height: 250px; height: 100%;" data-markers="<%= @markers.to_json%>"></div>
            <p>Adresse: <%= @point.address.present? ? @point.address : "Relancer #{@point.user.first_name} car cette info n'est pas encore renseignée" %></p>
          </div>
        </div>
      </div>

      <div class="row">

        <div class=" <%= @equipments.count > 0 ? 'col-lg-8 col-sm-6' : 'col-lg-12'  %>  col-xs-12 padding-blocks">
          <div class="dimension-onglet">
            <h3 class="title-onglet">Participants </h3>
          </div>
          <div class="background-white eql-height">
            <% if @point.number_min > @participants.count %>
              <p><%= @participants.count %> / <%= @point.number_min %> pour validé le point</p>
            <% else %>
              <p>Il y a <strong> <%= @participants.count %></strong> participants</p>
            <% end %>
            <div class="scroll-div" style="max-height: 240px">
                <% if @point.is_full? || @point.is_public? %>
                  <% @participants.each do |participant| %>
                    <div class="row">
                      <div class="col-lg-6">
                        <%= render 'shared/participant-point', user: participant.user, activity: @point.activity %>
                      </div>
                      <div class="col-lg-6">
                        <% if participant.user == @user %>
                          <%= simple_form_for participant do |e| %>
                            <%= e.input :status, collection: [ "I'm in", "I can't"],:input_html => { value: :status}, label: false %>
                          <% end %>
                        <% else %>
                            <p>Participe</p>
                        <% end %>
                      </div>
                    </div>
                  <% end %>

                <% else %>
                  <% @participants_invited.each do |participant| %>
                  <div class="row">
                    <% if participant.user == @user %>
                      <%= simple_form_for participant do |e| %>
                      <div class="col-lg-6">
                        <%= render 'shared/participant-point', user: e.object.user, activity: @point.activity %>
                      </div>
                      <div class="col-lg-3">
                        <%= e.input :status, collection: [ "I'm in", "I can't"],:input_html => { value: :status}, label: false %>
                      </div>
                      <div class="col-lg-3" style="text-align: center;">
                        <%= button_tag(type: "submit", class: "new_post_submit") do %>
                          <i class="glyphicon glyphicon-pencil"></i>
                        <% end %>
                      </div>
                      <% end %>
                    <% else %>
                      <div class="col-lg-6">
                        <%= render 'shared/participant-point', user: participant.user, activity: @point.activity %>
                      </div>
                      <div class="col-lg-6">
                        <% if participant.status == "I'm in" %>
                          <p>Participe</p>
                        <% elsif participant.status.nil? %>
                          <p>En attente</p>
                        <% else %>
                          <p>Ne participe pas</p>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
        <% if @equipments.count > 0 %>
          <div id="equipments" class="col-lg-4 col-sm-6 col-xs-12 padding-blocks">
            <div class="dimension-onglet">
              <h3 class="title-onglet">Matériels</h3>
            </div>
            <div class="background-white eql-height" id="form-materiel" data-url="<%= update_materiel_point_path(@point) %>">
              <div class="scroll-div"  style="max-height: 240px">
                <% @equipments.each do |e| %>
                  <div class="row">
                    <p><%= e.title %></p>
                    <% if e.participant.nil? || e.participant.user == current_user %>
                      <input type="checkbox" class="participant-form-show" data-equiment="<%= e.id %>" value="<%= current_user.id %>" <%= e.participant.nil? ? "" : "checked" %>>
                    <% else %>
                      <p><%= e.participant.user.first_name %> s'en occupe</p>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <div class="col-lg-3 padding-blocks">
      <div class="dimension-onglet">
        <h3 class="title-onglet">Notification</h3>
      </div>
      <div class="background-white">
        <%= render 'messages/form', point: @point, message: @message %>
        <div id="messages" class="scroll-div" style="height:576px;">

            <% @points.each do |message| %>
              <%= render 'messages/show', message: message %>
            <% end %>

        </div>
      </div>
    </div>
  </div>
  <% if @point.user == current_user %>
    <div class="form-action">
      <%= link_to edit_point_path(@point), class:"display-inline" do %>
        <div class="form-button form-button-lg circle-btn green-color">
          <i class="far fa-edit"></i>
        </div>
        <h3>Modifier</h3>
      <% end %>
        <%= link_to point_path(@point),  method: :delete, data: { confirm: 'Are you sure?' }, class:"display-inline" do %>
          <div class="form-button form-button-lg circle-btn red-color">
            <i class="far fa-trash-alt"></i>
          </div>
          <h3>Supprimer</h3>
        <% end %>
    </div>
  <% end %>
</div>

<%= content_for(:after_js) do %>

<script>


</script>

<% end %>










