
<div id="edit-point">

  <div class="row">
    <div class="col-lg-9 big-height">
      <div class="row">
        <div class="col-lg-5 col-sm-12">
          <%= render 'information-point' %>
        </div>
        <div class="col-lg-7 col-sm-12 col-xs-12 padding-blocks">
          <div class="dimension-onglet">
            <h3 class="title-onglet">Lieu</h3>
          </div>
          <div class="background-white eql-height">

            <p>Adresse: <%= @point.address.present? ? @point.address : "Relancer #{@point.user.first_name} car cette info n'est pas encore renseignée" %></p>
            <div id="<%= @markers[:lat].nil? ? "" : "map" %>" style="height: 200px;" data-markers="<%= @markers.to_json%>"></div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class=" <%= @equipments.count > 0 ? 'col-lg-8 col-sm-6' : 'col-lg-12'  %>  col-xs-12 padding-blocks">
          <div class="dimension-onglet">
            <h3 class="title-onglet">Participants </h3>
          </div>
          <div class="background-white eql-height">
            <% if @point.number_min > @participants_are_coming.count %>
              <p><%= @participants_are_coming.count %> / <%= @point.number_min %> pour validé le point</p>
            <% else %>
              <p>Il y a <strong> <%= @participants_are_coming.count %></strong> participants</p>
            <% end %>
            <div class="scroll-div" style="min-height: 240px" id="participations">
              <div class="row" style="display: flex; align-items: center;">
                <%= render 'participations', participant: @user_participant , point: @point %>
                <div class="col-xs-3">
                  <% if @user_participant.status == "I'm in" %>
                    <p class="changingStatus" data-status="I can't">j'annule</p>
                  <% else %>
                    <p class="changingStatus" data-status="I'm in">je participe</p>
                  <% end %>
                </div>
              </div>
              <% @participants_are_coming.each do |participant| %>
                <% if participant.user != @user %>
                  <div class="row" style="display: flex; align-items: center;">
                    <%= render 'participations', participant: participant, point: @point %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% if @equipments.count > 0 %>
          <div id="equipments" class="col-lg-4 col-sm-6 col-xs-12 padding-blocks">
            <div class="dimension-onglet">
              <h3 class="title-onglet">Matériels</h3>
            </div>
            <div class="background-white eql-height" id="form-materiel" data-url="<%= update_materiel_point_path(@point) %>">
              <div class="scroll-div"  style="max-height: 240px">
                <% @equipments.each do |e| %>
                  <div class="row">
                    <p><%= e.title %></p>
                    <% if e.participant.nil? || e.participant.user == current_user %>
                      <input type="checkbox" class="participant-form-show" data-equiment="<%= e.id %>" value="<%= current_user.id %>" <%= e.participant.nil? ? "" : "checked" %>>
                    <% else %>
                      <p><%= e.participant.user.first_name %> s'en occupe</p>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <div class="col-lg-3 padding-blocks">
      <div class="dimension-onglet">
        <h3 class="title-onglet">Notification</h3>
      </div>
      <div class="background-white">
        <%= render 'messages/form', point: @point, message: @message %>
        <div id="messages" class="scroll-div" style="height:576px;">

            <% @points.each do |message| %>
              <%= render 'messages/show', message: message %>
            <% end %>

        </div>
      </div>
    </div>
  </div>
  <% if @point.user == current_user %>
    <div class="form-action">
      <%= link_to edit_point_path(@point), class:"display-inline" do %>
        <div class="form-button form-button-lg circle-btn green-color">
          <i class="far fa-edit"></i>
        </div>
        <h3>Modifier</h3>
      <% end %>
        <%= link_to point_path(@point),  method: :delete, data: { confirm: 'Are you sure?' }, class:"display-inline" do %>
          <div class="form-button form-button-lg circle-btn red-color">
            <i class="far fa-trash-alt"></i>
          </div>
          <h3>Supprimer</h3>
        <% end %>
    </div>
  <% end %>
</div>

<%= content_for(:after_js) do %>

<script>


</script>

<% end %>










