
<div id="edit-point">
  <div style="text-align: center; padding-bottom: 10px;">
    <%= @point.day_month %>
  </div>
  <div class="row">
    <div class="col-lg-9 big-height">
      <div class="row display-inline">
        <%= render 'information-point' %>
        <div class="col-lg-7 col-sm-12 col-xs-12 padding-blocks">
          <div class="dimension-onglet">
            <h3 class="title-onglet">Lieu</h3>
          </div>
          <div class="background-white eql-height">
            <p>Adresse: <%= @point.address %></p>
            <div id="map" style="height: 250px;" data-markers="<%= @markers.to_json%>"></div>
          </div>

        </div>
      </div>

      <div class="row">


        <div class="col-lg-8 col-sm-6 col-xs-12 padding-blocks">
          <div class="dimension-onglet">
            <h3 class="title-onglet">Participants </h3>
          </div>
          <div class="background-white eql-height">
            <p><%= @count_participants %> / <%= @point.number_min %> pour validé le point</p>
            <div class="scroll-div" style="max-height: 240px">
              <% @participants.each do |participant| %>
                <div class="row">
                  <% if participant.user == @user %>
                    <%= simple_form_for participant do |e| %>
                    <div class="col-lg-6">
                      <%= render 'shared/participant-point', user: e.object.user %>
                    </div>
                    <div class="col-lg-3">
                      <%= e.input :status, collection: [ "I'm in", "I can't"],:input_html => { value: :status}, label: false %>
                    </div>
                    <div class="col-lg-3" style="text-align: center;">
                      <%= button_tag(type: "submit", class: "new_post_submit") do %>
                        <i class="glyphicon glyphicon-pencil"></i>
                      <% end %>
                    </div>
                    <% end %>
                  <% else %>
                    <div class="col-lg-6">
                      <%= render 'shared/participant-point', user: participant.user %>
                    </div>
                    <div class="col-lg-6">
                      <% if participant.status == "I'm in" %>
                        <p>Participe</p>
                      <% elsif participant.status.nil? %>
                        <p>En attente</p>
                      <% else %>
                        <p>Ne participe pas</p>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <% if @equipments.count > 0 %>
          <div id="equipments" class="col-lg-4 col-sm-6 col-xs-12 padding-blocks">
            <div class="dimension-onglet">
              <h3 class="title-onglet">Matériels</h3>
            </div>
            <div class="background-white eql-height">
              <div class="scroll-div"  style="max-height: 240px">
                <% @equipments.each do |equipment| %>
                  <%= simple_form_for equipment, wrapper: false do |e| %>
                  <div class="row">
                    <%= e.object.title %>
                    <% if e.object.participant_id.nil? %>
                      <%= e.input :participant_id, as: :check_boxes, input_html: { label: false}, collection: ["Je m'en occupe"] %>
                    <% else %>
                      <p> <%= e.object.participant.user.first_name %> s'en occupe</p>
                    <% end %>
                    <%= button_tag(type: "submit", class: "new_post_submit") do %>
                      <i class="glyphicon glyphicon-pencil"></i>
                    <% end %>
                  </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <div class="col-lg-3 big-height padding-blocks">
      <div class="dimension-onglet">
        <h3 class="title-onglet">Notification</h3>
      </div>
      <div class="background-white" style="height: calc(100% - 28px - 1%)">
        <%= render 'messages/form', point: @point, message: @message %>
        <div id="messages">
          <% if @point.messages.blank? %>
            Be the first to leave a message for this Point
          <% else %>
            <% @points.each do |message| %>
              <%= render 'messages/show', message: message %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if @point.user == current_user %>
    <div class="form-action">
      <%= link_to edit_point_path(@point), class:"display-inline" do %>
        <div class="form-button form-button-lg circle-btn green-color">
          <i class="far fa-edit"></i>
        </div>
        <h3>Modifier</h3>
      <% end %>
        <%= link_to point_path(@point),  method: :delete, data: { confirm: 'Are you sure?' }, class:"display-inline" do %>
          <div class="form-button form-button-lg circle-btn red-color">
            <i class="far fa-trash-alt"></i>
          </div>
          <h3>Supprimer</h3>
        <% end %>
    </div>
  <% end %>
</div>

<%= content_for(:after_js) do %>

<script>

// var slider = document.getElementById("myRange");
// var output = document.getElementById("demo");
// output.innerHTML = slider.value;

// slider.oninput = function() {
//   output.innerHTML = this.value;
// }


</script>

<% end %>










