<div id="form_<%= act.id + random %>" class="modal">

  <span class="close" id="close_form_<%= act.id + random %>">
    <p>&times;</p>
  </span>

  <% if @user_activity != nil && @user_activity.id %>
    <div data-user_activity-id="<%= @user_activity.id %>">

    <%= simple_form_for(@user_activity, remote: false,:format => :js, authenticity_token: true) do |f| %>
      <%= f.input :activity_id, input_html: { value: act.id }, as: :hidden  %>
      <div class="rating">
          <%= render 'user_activities/stars_form', f: f %>
      </div>
      <%= f.input :description %>
      <%= f.submit "Continuer" %>
    <% end %>
    <%= link_to "Delete", user_activity_path( @user_activity), method: :delete, remote: false %>
    </div>

  <% else %>

    <%= simple_form_for([ @user, UserActivity.new ], remote: false, authenticity_token: true) do |f| %>
      <%= f.input :activity_id, input_html: { value: act.id }, as: :hidden  %>
      <div class="rating">
          <%= render 'user_activities/stars_form', f: f %>

      </div>

      <%= f.input :description %>
      <%= f.submit "Continuer" %>
    <% end %>
    <!-- teste -->
  <% end %>
</div>
