<label>
  <%= f.input :level, input_html: { type: :radio, value: 1}, label: false, :wrapper => false  %>
  <span class="icon">★</span>
  </label>
  <label>
  <%= f.input :level, input_html: { type: :radio, value: 2}, label: false, :wrapper => false  %>
  <span class="icon">★</span>
  <span class="icon">★</span>
  </label>
  <label>


  <%= f.input :level, input_html: { type: :radio, value: 3}, label: false, :wrapper => false  %>
  <span class="icon">★</span>
  <span class="icon">★</span>
  <span class="icon">★</span>
  </label>
  <label>

  <%= f.input :level, input_html: { type: :radio, value: 4}, label: false, :wrapper => false  %>
  <span class="icon">★</span>
  <span class="icon">★</span>
  <span class="icon">★</span>
  <span class="icon">★</span>
  </label>
  <label>

  <%= f.input :level, input_html: { type: :radio, value: 5}, label: false, :wrapper => false %>
  <span class="icon">★</span>
  <span class="icon">★</span>
  <span class="icon">★</span>
  <span class="icon">★</span>
  <span class="icon">★</span>
<label>
