
<% if @point %>
  <% @level = :level_min %>
<% else%>
  <% @level = :level %>
<% end %>


<label>
  <%= f.input @level, input_html: { type: :radio, value: 1}, label: false, :wrapper => false  %>
  <span class="icon"><i class="fas fa-star"></i></span>
  </label>
  <label>
  <%= f.input @level, input_html: { type: :radio, value: 2}, label: false, :wrapper => false  %>
  <span class="icon"><i class="fas fa-star"></i></span>
  <span class="icon"><i class="fas fa-star"></i></span>
  </label>
  <label>


  <%= f.input @level, input_html: { type: :radio, value: 3}, label: false, :wrapper => false  %>
  <span class="icon"><i class="fas fa-star"></i></span>
  <span class="icon"><i class="fas fa-star"></i></span>
  <span class="icon"><i class="fas fa-star"></i></span>
  </label>
  <label>

  <%= f.input @level, input_html: { type: :radio, value: 4}, label: false, :wrapper => false  %>
  <span class="icon"><i class="fas fa-star"></i></span>
  <span class="icon"><i class="fas fa-star"></i></span>
  <span class="icon"><i class="fas fa-star"></i></span>
  <span class="icon"><i class="fas fa-star"></i></span>
  </label>
  <label>

  <%= f.input @level, input_html: { type: :radio, value: 5}, label: false, :wrapper => false %>
  <span class="icon"><i class="far fa-star"></i></span>
  <span class="icon"><i class="far fa-star"></i></span>
  <span class="icon"><i class="far fa-star"></i></span>
  <span class="icon"><i class="far fa-star"></i></span>
  <span class="icon"><i class="far fa-star"></i></span>
<label>
