<div class="full-tabs">
  <ul class="nav nav-pills" role="tablist">
    <li class="active", role="presentation">
      <a data-toggle="tab" href="#art" role="tab" aria-controls="mybikes"><%= @art.title %></a>
    </li>
    <li role="presentation">
      <a data-toggle="tab" href="#sport" role="tab" aria-controls="booking"><%= @sport.title %></a>
    </li>
    <li role="presentation">
      <a data-toggle="tab" href="#culture" role="tab" aria-controls="booking"><%= @culture.title %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="art" role="tabpanel" aria-labelledby="pills-home-tab">
      <div id="reviews">
        <% if @user.user_activities.blank? %>
          Be the
        <% else %>

            <%= simple_form_for @user do |f| %>
              <%= f.simple_fields_for :user_activities do |u|%>
                <%= u.object.activity.present? ? u.object.activity.title : "" %>
                <%= u.input :level %>
                <%= u.input :description %>
                <%= u.submit "Continuer" %>
                <%= u.submit "Supprimer" %>
                <br>
              <% end %>
            <% end %>


        <% end %>
      </div>

        <% @culture_activities.each do |act|%>
          <p><%= act.title %></p>
          <%= render 'user_activities/form', user: @user, user_activity: @user_activity, act: act %>
        <% end %>


    </div>
    <div class="tab-pane" id="sport" role="tabpanel" aria-labelledby="pills-profile-tab">
    </div>
    <div class="tab-pane" id="culture" role="tabpanel" aria-labelledby="pills-profile-tab">
    </div>
  </div>
</div>



